/* Write your code here: */
/* combining */
h1,h2{
  color:blueviolet
}
/* direct */
.box > p {
  color:firebrick;
}
/* grandchild */
.box li{
  color:blue;
}
/* chaining */
li.done{
color:seagreen;
}
ul p.done{
  color:yellow;
}